body{
    background: pink;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin:120px auto;
    max-width: 600px;
}
h1{
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: beige;
}
header {
 margin-bottom: 30px;
}

form{
    padding: 30px;
    background-color: blanchedalmond;
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;

}
.instructions {
    padding: 30px;
    border: 1px solid rgba(39, 33, 66, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: black;

}
.submit-button {
margin-left: 10px;
background: plum;
color: white;
width:150px;
border: none;
border-radius: 50px;
padding: 14px 24px;
}
.poem { 
font-size: 14px;
background-color:antiquewhite;
padding: 20px;
line-height: 20px;
border-left: 3px solid plum;
box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}
footer {
text-align:center;
font-size: 13px;
margin-top: 30px;
}